* {
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    background-color:#fffefe ;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    justify-content:center;
    min-height: 30px;
    padding: 20px;
    align-items: center;
}

.logo-size{
    height: 100%;
    width: 60%;
    align-items: center;
    justify-items: center;
    margin-top: 30px;
    padding-bottom: 25px;
}

footer {
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-size: 15px;
}
.logo1 {
    width: 30px;
}

.table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    text-align: center;
}